<div class="admin_home minhgt550">
  <ul class="admin_selection_list">
    <li *ngFor="let item of items">
      <div class="admin_sel_option v_middle" (onclick)="onClick(item.link)"><span>{{item.name}}</span></div>
    </li>   
  </ul>
</div>

<div >
Sample Data

</div>

<!-- <div id="container" class="cols">
    <div class="box"  (onclick)="onClick(item.link)" *ngFor="let item of items">
      <span>{{item.name}}</span></div>
  </div> -->

  <form [formGroup]="formGroup"> 

      <label for="name">Name</label>
      <input formControlName="name" id="name" [ccValidateInput]="{form: formGroup ,fieldName: 'name',displayname: 'Name is required'}" /><br>
      <button class="btn btn-primary" (click)="validateAndSubmit()">Save</button>
  </form>



